<header>
  <nav class="navbar navbar-expand-lg --bs-body-bg-rgb">
    <div class="container-fluid">
      <img src="/img/pablovaldivia2.jpg" alt="Logo Hosty" />
      <br />

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#sobre-mi"
              >Sobre mí</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#proyectos"
              >Proyectos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#habilidades"
              >Habilidades</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
